.container {
    margin-top: 10%;
}
body {
    background: #2c3e50;
}
ul {
    list-style: none;
}
.tab {
    float: left;
    margin: 0;
    padding: 0 20px;
    position: relative;
    border: 1px solid #95a5a6;
    border-radius: 6px 6px 0 0;
    border-bottom: none;
}
.tab > * {
    margin-bottom: 0;
    vertical-align: middle;
    display: inline-block;
}
.tab > .tab-name {
    line-height: inherit;
}
.tab > button.close {
    width: 10px;
    height: 10px;
    vertical-align: middle;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -5px;
}
.tab > button.close:hover {
    border-color: #c0392b;
    background: #e74c3c;
}
#tabs_holder {
    overflow: hidden;
    overflow-x: auto;
    margin: 0;
    position: relative;
    line-height: 3.5rem;
}
#tabs_holder > .tab {

}
#tabs_holder > .tab.active {

}
#tabs_holder > .tab > button.close {
    visibility: hidden;
}
#tabs_holder > .tab:hover > button.close {
    visibility: visible;
}