body {
    background: #22313F;
    color: #ecf0f1;
    font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
}
code {
    background: #22313F;
}
ul, ol {
    padding-left: 2rem;
}
blockquote {
    background: #22313F;
    border-left: 0.3rem solid #2980b9;
    overflow: hidden;
    padding: 1rem;
}
button,
button:focus {
    color: inherit;
    border-color: inherit;
}
button:hover,
button:active {
    color: #1abc9c;
    border-color: #1abc9c;
}
.u-pos-rel {
    position: relative;
}
.u-pos-abs {
    position: absolute;
}
.container {
    margin-top: 4rem;
}
.rounded {
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
}
.tab {
    /*float: left;*/
    display: inline-block;
    margin: 0 -5px 0 0;
    padding: 0 2.5rem;
    position: relative;
    line-height: 5rem;
    border-bottom: 0.3rem solid transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.tab.active {
    border-bottom-color: #27ae60;
    background: #34495e;
}
.tab.add-new-tab:hover {
    color: #1abc9c;
}
.tab > * {
    margin-bottom: 0;
    display: inline-block;
}
.tab > .tab-name {
    line-height: inherit;
}
.tab > button.close-tab {
    width: 1rem;
    height: 1rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #bbb;
    padding: 0;
    position: absolute;
    right: 0.5rem;
    top: 50%;
    margin-top: -0.5rem;
}
.tab > button.close-tab {
    visibility: hidden;
}
.tab:hover > button.close-tab {
    visibility: visible;
}
.tab > button.close-tab:hover {
    border-color: #c0392b;
    background: #e74c3c;
}
.tab:last-child {
    margin-right: 0;
}
.tabs-holder {
    overflow: hidden;
    position: relative;
    background: #2c3e50;
    white-space: nowrap;
    width: 100%;
    list-style: none;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.tab-nav-panel {
    background: #2c3e50;
    line-height: 5.3rem;
    height: 5.3rem;
    overflow: hidden;
    margin-bottom: 2.5rem;
}
.tab-nav-panel > button.navigation {
    display: block;
    float: left;
    padding: 0;
    margin-bottom: 0;
    line-height: inherit;
    height: inherit;
    border: 0;
    border-radius: 0;
    border-right: 1px solid #bbb;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.tab-nav-panel > button.navigation:active {
    /*color: #3498db;*/
    background: #34495e;
}
.tab-nav-panel > button.navigation:last-child {
    border-right: 0;
}
.tab-nav-panel > button.navigation[data-direction="left"],
.tab-nav-panel > button.navigation[data-direction="right"] {
    width: 50%;
}
.tab-content {
    background: #2c3e50;
    padding: 1rem;
    margin-bottom: 2.5rem;
}
.content-block {
    border-bottom: 1px solid #7f8c8d;
    overflow: auto;
}
.content-block:last-child {
    border-bottom: none;
}
.content-block > .edit-panel {
    float: right;
}
.content-block > .content-wrapper {
    clear: both;
}
.content-block > .editor-wrapper {

}
.editor-wrapper > textarea {
    font-family: monospace;
    background: #2c3e50;
    height: auto;
}