<div id="tabs_holder" class="row">
	<ul class="tabs-holder ten columns rounded">
		<% _(model).each(function (tab, i) { %>
		<% var active = tab.isActive ? "active" : ""; %>
		<li class="tab <%= active %>" id="tab_<%= i %>" data-tab-id="<%= i %>">
			<span class="tab-name"><% tab.title %></span>
			<button class="close-tab"></button>
		</li>
		<% }); %>
		<li class="tab fi-plus add-new-tab">
			<span class="tab-name">Add new tab</span>
		</li>
	</ul>
	<div class="tab-nav-panel two columns rounded">
		<button class="navigation fi-arrow-left" data-direction="left"></button>
		<button class="navigation fi-arrow-right" data-direction="right"></button>
	</div>
</div>